@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0f111a;
    --text-primary: #ffffff;
  }

  body {
    background-color: var(--background);
    color: var(--text-primary);
    font-family: "Orbitron", sans-serif;
  }

  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
}
